<!-- common header start -->
<common-header></common-header>
<!-- common header end -->

<ion-content>
  <div class="main-content log-content">
    <section id="form_box">
      <div class="form_box change_start">
        <h3 class="main-title">
          Change Password
        </h3>
        <div class="logo_section">
          <div class="logo_center">
            <img src="assets/images/face_2.png" alt="face">
          </div>
        </div>
        <div class="form">
          <form #changepassword = "ngForm" (ngSubmit)="onChangePassword(changepassword)">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <mat-form-field  appearance="outline">
                    <mat-label>Old Password</mat-label>
                    <input matInput type="password" name="oldpassword" [(ngModel)]="oldpassword" placeholder="Enter Old Password">
                  </mat-form-field>
                </ion-col>
                <ion-col size="12">
                  <mat-form-field  appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" name="newpassword" [(ngModel)]="newpassword"  placeholder="Enter New Password">
                  </mat-form-field>
                </ion-col>
                <ion-col size="12">
                  <button class="btn btn-theme size-big" type="submit">Submit</button>
                </ion-col> 
              </ion-row>
            </ion-grid>
          </form>
        </div>
      </div>
    </section>
  </div>
</ion-content>

<!-- common footer start -->
<common-footer></common-footer>
<!-- common footer end -->
