<!-- common header show -->
<common-header></common-header>
<ion-content>
  <div class="main-content">
    <section id="product-specifications">
      <h3 class="main-title">
          CHECK YOUR ENTRIES
      </h3>
      <div class="product-specifications details formBox">
        <form #loginModalForm="ngForm" (ngSubmit)="productChoose(loginModalForm)"  (keyup.enter)="productChoose(loginModalForm)"  novalidate>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <mat-form-field *ngIf="!disabled" appearance="outline">
                  <mat-label>Select Panel Type</mat-label>
                  <mat-select required name="panaltypes" [(ngModel)]="model.paneltype" [disabled]="disabled">
                    <mat-option *ngFor="let panal of panelReturnData" [value]="panal">
                      {{panal.size}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="disabled" appearance="outline">
                  <mat-label>Select Panel Type</mat-label>
                  <mat-select required name="panaltype" [(ngModel)]="paneltype" [disabled]="disabled">
                    <mat-option *ngFor="let panal of panelReturnData" [value]="panal.id">
                      {{panal.size}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>
              <ion-col size="12">
                <mat-form-field appearance="outline">
                  <mat-label>Select Cabinet Type</mat-label>
                  <mat-select required name="cabinettype" [(ngModel)]="cabinettype" [disabled]="disabled">
                    <mat-option *ngFor="let cabinet of cabinetReturnData" [value]="cabinet.id">
                      {{cabinet.size}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>
              <ion-col size="12">
                <mat-form-field appearance="outline">
                  <mat-label>Select Circuit Type</mat-label>
                  <mat-select required name="cercuittype" [(ngModel)]="cercuittype" [disabled]="disabled">
                    <mat-option *ngFor="let cercuit of cercuitReturnData" [value]="cercuit.id">
                      {{cercuit.size}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>
              <ion-col size="12">
                <mat-form-field appearance="outline">
                  <mat-label>Select RAM/ROM</mat-label>
                  <mat-select required name="ramlisttype" [(ngModel)]="ramlisttype" [disabled]="disabled">
                    <mat-option *ngFor="let ramlist of ramlistReturnData" [value]="ramlist.id">
                      {{ramlist.size}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>
              <ion-col size="12">
                <mat-form-field appearance="outline">
                  <mat-label>Select Sound Output</mat-label>
                  <mat-select required name="soundtype" [(ngModel)]="soundtype" [disabled]="disabled">
                    <mat-option *ngFor="let sound of soundReturnData" [value]="sound.id">
                      {{sound.size}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>
              <ion-col size="12">
                <mat-form-field appearance="outline">
                  <mat-label>Select Remote Type</mat-label>
                  <mat-select required name="remotelisttype" [(ngModel)]="remotelisttype" [disabled]="disabled">
                    <mat-option *ngFor="let remote of remotelistReturnData" [value]="remote.id">
                      {{remote.size}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>
              <ion-col size="12">
                <mat-form-field appearance="outline">
                  <mat-label>Select PCB</mat-label>
                  <mat-select required required name="pcbtype" [(ngModel)]="pcbtype" [disabled]="disabled">
                    <mat-option *ngFor="let pcb of pcblistReturnData" [value]="pcb.id">
                      {{pcb.pcb_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>
              <ion-col size="12">
                <mat-form-field appearance="outline">
                  <mat-label>Select Bluetooth</mat-label>
                  <mat-select required name="bluetoothlisttype" [(ngModel)]="bluetoothlisttype" [disabled]="disabled">
                    <mat-option *ngFor="let bluetoothlist of bluetoothlistReturnData" [value]="bluetoothlist.id">
                      {{bluetoothlist.blutooth_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>
              <ion-col size="12">
                <mat-form-field appearance="outline">
                  <mat-label>Select Warranty</mat-label>
                  <mat-select required name="warrantylisttype" [(ngModel)]="warrantylisttype" [disabled]="disabled">
                    <mat-option *ngFor="let warrantylist of warrantylistReturnData" [value]="warrantylist.id">
                      {{warrantylist.warranty_title}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>
              <div class="form-btn">
                <ion-col size="12" class="margin-b-20">
                  <button class="btn btn-theme2 size-big" type="button" (click)="myBackButton()" >Change Your Entries</button>
                </ion-col>
                <ion-col size="12">
                    <button *ngIf="!disabled" class="btn btn-theme size-big" type="submit">Calculate Price</button>
                    <button *ngIf="disabled" (click)="calculatePriceData()" class="btn btn-theme size-big" type="button">Calculate Price</button>
                  
                </ion-col>
              </div>
            </ion-row>
          </ion-grid>
        </form>
      </div>
    </section>
  </div>
</ion-content>

<!-- common footer show -->
<common-footer></common-footer>