<!-- common header start -->
<common-header></common-header>
<!-- common header end -->

<ion-content>
  <div class="main-content log-content">
    <section id="form_box">
      <div class="form_box success_start">
        <h3 *ngIf="!get_user_dtls"  class="main-title">
          Reset Password Confirmation
        </h3> 

        <h3 *ngIf="get_user_dtls"  class="main-title">
          Change Password Confirmation
        </h3> 
        <div class="success-logo">
          <div class="logo_center">
            <img src="assets/images/like.png" alt="like">
          </div>
        </div>
        <div>
          <h3 *ngIf="!get_user_dtls" class="main-title">Your password has been reset</h3>
          <h3 *ngIf="get_user_dtls" class="main-title">Your password has been Changed</h3>
        </div>
        <div class="back-login">
          <ion-button *ngIf="!get_user_dtls" class="succ-btn" [routerLink]="['../auth']">Login</ion-button>
        </div>
      </div>
    </section>
  </div>
</ion-content>

<!-- common footer start -->
<common-footer></common-footer>
<!-- common footer end -->
