<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu class="side-menu" contentId="main-content" type="overlay">
      <!-- header start -->
      <ion-header>
        <ion-toolbar>
            <div class="header-logo">
              <img alt="logo" src="assets/images/logowhite.png">
            </div>
          <div *ngIf="!get_user_dtls" class="auth-btns">
            <ion-button matRipple [routerLink]="['/', 'auth']" size="small" (click)="closeModal()">
              Login
            </ion-button>
            <ion-button matRipple [routerLink]="['/', 'register']" size="small" (click)="closeModal()">
              Register
            </ion-button>
          </div>
        </ion-toolbar>
      </ion-header>
      <!-- header end -->
      <ion-content class="menu-container">
        <mat-accordion color="primary" class="mat-menu display-inline-block margin-top-10">
          <!-- Single menu start -->
          <mat-expansion-panel *ngIf="get_user_dtls" class="margin-bottom-5" #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeModal()">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded" [routerLink]="['/', 'profile-page', get_user_dtls?.id]">
              <mat-panel-title class = "font-size-11 line-height-16">
                <ion-icon class="margin-right-10 font-size-16" name="person-circle-outline"></ion-icon>
                My Profile 
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          
          <mat-expansion-panel *ngIf="get_user_dtls" class="margin-bottom-5" #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeModal()">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded" [routerLink]="['/','my-order']">
              <mat-panel-title class = "font-size-11 line-height-16">
                <ion-icon class="margin-right-10 font-size-16" name="cart-outline"></ion-icon>
                My Order 
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="get_user_dtls" class="margin-bottom-5" #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeModal()">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded" [routerLink]="['/','change-password']">
              <mat-panel-title class = "font-size-11 line-height-16">
                <ion-icon class="margin-right-10 font-size-16" name="key-outline"></ion-icon>
                Change Password
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>

          <mat-expansion-panel class="margin-bottom-5" #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeModal()">
            <mat-expansion-panel-header class="mat-header-bg" [class.active-parent] = "example.expanded" [routerLink]="['/','screen-size']">
              <mat-panel-title class = "font-size-11 line-height-16" >
                <ion-icon class="margin-right-10 font-size-16" name="desktop-outline"></ion-icon>
                Screen Size  
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <!-- Single menu end -->

        </mat-accordion>
      </ion-content>
      <ion-footer *ngIf="get_user_dtls">
          <ion-button (click)="logOutUser()" class="logout" expand="full"> <ion-icon style="margin-right: 10px;" slot="start" name="log-out-outline"></ion-icon>Logout</ion-button>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content">
      <ng-http-loader 
        [backdrop]="true"
        [backgroundColor]="'#333E5E'"
        [debounceDelay]="100"
        [extraDuration]="300"
        [minDuration]="300"
        [opacity]="1"
        [backdropBackgroundColor]="'#d1cbcb85'"
        [spinner]="spinnerStyle.skThreeBounce">
      </ng-http-loader>
    </ion-router-outlet>
  </ion-split-pane>
</ion-app>
