<!-- common header show -->
<common-header></common-header>
<ion-content>
  <div class="main-content">
    <section id="payabal_amount">
      <div class="payabal_amount">
        <div class="amount_box">
          <p><span>Payabal Amount : </span><span class="amount">21580 INR</span></p>
        </div>
        <div class="view_dtl">
          <!-- <a href="#">View Details</a> -->

          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  View Details
                </mat-panel-title>
                <mat-panel-description>
                  <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                  
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="bill_dtl">
                <!-- <div class="items header">
                  <div>Item Name</div> <div class="float-right">Price</div>
                </div>
                <div class="items">
                  <div class="itemname">
                    RAM/ROMRAM/ROM
                    RAM/ROM
                  </div>
                  <div class="float-right">2000</div>
                </div>
                <div class="items">
                  <div class="itemname">
                    RAM/ROMRAM/ROM
                    RAM/ROM
                  </div>
                  <div class="float-right">2000</div>
                </div>
                <div class="items">
                  <div class="itemname">
                    RAM/ROMRAM/ROM
                    RAM/ROM
                  </div>
                  <div class="float-right">2000</div>
                </div> -->
                <table class="data_table">
                  <tr>
                    <th class="text-left">Items</th>
                    <th>Price</th>
                  </tr>

                  <tr>
                    <td class="text-left">Panel</td>
                    <td class="text-center">5000</td>
                  </tr>
                  <tr>
                    <td class="text-left">RAM/ROM</td>
                    <td class="text-center">8000</td>
                  </tr>
                  <tr>
                    <td class="text-left">Cabinet</td>
                    <td class="text-center">3000</td>
                  </tr>
                  <tr>
                    <td class="text-left">Circuit</td>
                    <td class="text-center">9000</td>
                  </tr>
                  <tr>
                    <td class="text-left">Sound Output</td>
                    <td class="text-center">1000</td>
                  </tr>
                  <tr>
                    <td class="text-left">Remote</td>
                    <td class="text-center">2000</td>
                  </tr>
                  <tr class="border-top">
                    <td class="text-left">Total</td>
                    <td class="text-center">₹ 28000</td>
                  </tr>
                </table>
              </div>
              
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </section>
    <section id="form_box">
      <div class="form_box">
        <h3 class="main-title">
          REGISTER YOURSELF
        </h3>
        <div class="form">
          <form action="">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <mat-form-field  appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Enter Name">
                  </mat-form-field>
                </ion-col>
                <ion-col size="12">
                  <mat-form-field  appearance="outline">
                    <mat-label>Email ID</mat-label>
                    <input matInput placeholder="Enter Email id">
                  </mat-form-field>
                </ion-col>
                <ion-col size="12">
                  <mat-form-field  appearance="outline">
                    <mat-label>Mob No.</mat-label>
                    <input matInput placeholder="Enter Mobile Number">
                  </mat-form-field>
                </ion-col>
                <ion-col size="12">
                  <mat-form-field  appearance="outline">
                    <mat-label>Pin Code</mat-label>
                    <input matInput placeholder="Enter Pin code">
                  </mat-form-field>
                </ion-col>
                <ion-col size="12">
                  <mat-form-field  appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput placeholder="Enter your Address" rows="3"></textarea>
                  </mat-form-field>
                </ion-col>
                <ion-col size="12">
                  <button class="btn btn-theme size-big">Submit</button>
                </ion-col>
              </ion-row>
            </ion-grid>

          </form>
        </div>
        <!-- <div *ngFor="let test of tests">
          <p [ngClass]="{'red': test?.step === 'step1', 'green' : test?.step === 'step2' }">
            {{test?.name}}
          </p>
        </div> -->
      </div>
    </section>
  </div>
</ion-content> 
<!-- common footer show -->
<common-footer></common-footer>